
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <title>C-N</title>
  </head>
  <body>
      <div class="mainContainer">
        <div class="sideBar">
            <div class="pageTitle">
                <h1 class="titleActual">CryptoNews</h1>
            </div>
            <div class="buttonDiv">
                <button class="refresh">Refresh News List</button>
                <button class="clear">Clear News List</button>
            </div>


        </div>
        <div class="bodyPosts">
            <div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey22
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey22
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey22
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div><div class="testBody">
                hey
            </div>

        </div>

      </div>



    {{!-- <div class='container-fluid bg-light'>
      
      <div class='row'>
        <div class='col d-flex flex-column py-3'>
          <h1 class='mx-auto my-3'>CryptoNews</h1>
            <button class='btn btn-lg btn-dark get-btn mx-auto py-1'>Refresh News Feed</button>
            <button class='btn btn-lg btn-dark delete-btn mx-auto py-1'>Clear News List</button>
        </div>
      </div>

      <div class='row'>
        <div class='col d-flex flex-column py-3'>
          {{{body}}}
        </div>
      </div>

    </div> --}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script>


  </body>
</html>
